BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

Cpp11BracedListStyle: true
BracedInitializerIndentWidth: 4

IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortInitializersOnASingleLine: false

BreakBeforeBraces: Attach

AlignConsecutiveAssignments: false
AlignTrailingComments: true

SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements

BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: AlwaysBreak

AlignEscapedNewlines: Left
